{% extends 'base.html' %}

{% load static %}

{% block title %}
    Регистрация
{% endblock %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'feel_of_time/css/main.css' %}">
{% endblock %}

{% block body %}

{% include 'includes/navbar.html' %}

    <h3>Авторизация</h3>
    <form method="post" class="form-2">
        {% csrf_token %}

        <div class="input">
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }} <br>
            {{ field.errors }}
            <br>
        {% endfor %}
        </div>

        <button type="submit">Авторизация</button>
    </form>

{% endblock %}