{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кнопки</title>
    <link rel="stylesheet" href="{% static 'feel_of_time/main.css' %}">
</head>
<body>
    {% include 'includes/navbar.html' %}

    <h2>Определите набор кнопок-активностей</h2>
    <form method="post" class="form-1">
        {% csrf_token %}
        {% for button_name in personal_buttons.button_set %}
            <h4><input type="checkbox" name="checkbox_set" value="{{ button_name }}" checked> {{ button_name }}</h4>
        {% endfor %}
        <br>
        <button type="submit" name="button_set_form">Подтвердить</button>
    </form>


    <form method="post" class="form-2">
        {% csrf_token %}
        <h2>Cвоя кпопка</h2>
        <br>
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>

        {% endfor %}
        <button type="submit" name="add_button_form">Отправить</button>
    </form>


</body>
</html>