{% extends 'base.html' %}

{% load static %}


{% block title %}
    Кнопки
{% endblock %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'feel_of_time/css/main.css' %}">
{% endblock %}

{% block body %}

    {% include 'includes/navbar.html' %}

    <h2>Определите набор кнопок-активностей</h2>
    <form method="post" class="form-1">
        {% csrf_token %}
        <div class = "columns">
            {% for button_name in person.all_personal_buttons %}
                {% if button_name in person.actual_button_set %}
                    <h4><input type="checkbox" name="checkbox_set" value="{{ button_name }}" checked> {{ button_name }}</h4>
                {% else %}
                    <h4><input type="checkbox" name="checkbox_set" value="{{ button_name }}"> {{ button_name }}</h4>
                {% endif %}
            {% endfor %}
        </div>
        <div class = centered_button_container>
            <button type="submit" name="button_set_form" class='ordinary_button'>Подтвердить</button>
        </div>
    </form>

    <form method="post" class="form-2">
        {% csrf_token %}
        <h2>Cвоя кпопка</h2>
        <br>
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <div class = centered_button_container>
            <button type="submit" class='ordinary_button' name="add_button_form">Отправить</button>
        </div>
    </form>

{% endblock %}