{% extends 'base.html' %}

{% load static %}

{% block title %}
    График
{% endblock %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'feel_of_time/css/main.css' %}">
{% endblock %}

{% block body %}

    {% include 'includes/navbar.html' %}

    {% if period == 'day' %}
        <h3 class="titles">График активности за сегодня</h3>
    {% elif period == 'yesterday' %}
        <h3 class="titles">График активности за вчера</h3>
    {% elif period == 'day_before_yesterday' %}
        <h3 class="titles">График активности за позавчера</h3>
    {% elif period == 'week' %}
        <h3 class="titles">График активности за неделю</h3>
    {% elif period == 'month' %}
        <h3 class="titles">График активности за месяц</h3>
    {% endif %}


    <div class="form-3">
        <img src="data:image/png;base64,{{ graphic }}" alt="График активности">
    </div>

<nav>
    <ul>
        <li><a href="{% url 'graph' period='day' %}">Сегодня</a></li>
        <li><a href="{% url 'graph' period='yesterday' %}">Вчера</a></li>
        <li><a href="{% url 'graph' period='day_before_yesterday' %}">Позавчера</a></li>
        <li><a href="{% url 'graph' period='week' %}">Неделя</a></li>
        <li><a href="{% url 'graph' period='month' %}">Месяц</a></li>
    </ul>
</nav>

{% endblock %}