{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feel the time</title>
    <link rel="stylesheet" href="{% static 'feel_of_time/main.css' %}">
</head>
<body>
    {% include 'includes/navbar.html' %}
    <h2>Feel the time</h2>
    <form method="post", class="form-1">
        {% csrf_token %}
        {% for button in buttons %}
            <button type="submit" name="button_click" value="{{ button }}">{{ button }}</button>
        {% endfor %}
    </form>

    <form class="form-2">
        <h2>Сейчас: {{ current_activity.current_activity.activity_name }} - {{ current_activity.time|date:"H:i:s" }}</h2>
        <br>
        <textarea cols="84" rows="17">
        {% for item in all %}
            {{ item.name }} - {{ item.current_activity.activity_name }} - {{ item.time|date:"H:i:s" }} - {{ item.duration }}
        {% endfor %}
        </textarea>

    </form>

</body>
</html>