{% extends 'base.html' %}

{% load static %}
{% load duration_filter %}

{% block title %}
    Feel the time
{% endblock %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'feel_of_time/css/main.css' %}">
{% endblock %}

{% block body %}

<!--<div class="main">-->

{% include 'includes/navbar.html' %}

    <div class="timer">
        {% if current_activity %}
            <h3>{{ current_activity.current_activity }}</h3>
        {% else %}
            <h3>Смотри, время уходит:</h3>
        {% endif %}
        <div class="timer">
            <span id="hours"></span>:
            <span id="minutes"></span>:
            <span id="seconds"></span>
        </div>
    </div>

    <p class="attention2">Чем ты сейчас занят?</p>
    <form method="post" class="form-1">
        {% csrf_token %}
        <div class = "columns">
            {% for button in person.actual_button_set %}
                {% if button == current_activity.current_activity %}
                    <button type="submit" class="ordinary_button" style="background-color: #E2DFDF" name="button_click" value="{{ button }}">{{ button }}</button>
                {% else %}
                    <button type="submit" class="ordinary_button" name="button_click" value="{{ button }}">{{ button }}</button>
                {% endif %}
            {% endfor %}
        </div>
    </form>

    <div class="form-2">

       {% if not current_activity %}
        <textarea readonly cols = "100" rows="17">{{ text_area }}</textarea>
        {% endif %}

<!--    {% if not current_activity %}-->
<!--        <div class="attention">-->
<!--            <h4>Твой прогресс будет отображаться в этом поле,<br>-->
<!--            а аналитика будет доступна в разделе <a href="{% url 'graph' period='day' %}">"Графики"</a><br>-->
<!--            Чтобы сохранить прогресс - <a href="{% url 'registration' %}">зарегистрируйся</a></h4>-->
<!--        </div>-->
<!--    {% endif %}-->


        <br>
        <textarea readonly cols = "100" rows="17">
        {% for item in all %}
{{ item.name.username }} - {{ item.current_activity }} - {{ item.time|date:"H:i:s" }} {% if item.duration %}- {{ item.duration|format_timedelta }} {% else %}- в процессе {% endif %}
        {% endfor %}
        </textarea>

    </div>
<!--</div>-->

<script>
    document.addEventListener('DOMContentLoaded', function() {

    const hoursDisplay = document.getElementById('hours');
    const minutesDisplay = document.getElementById('minutes');
    const secondsDisplay = document.getElementById('seconds');
    let hours = {{ start_hours }};
    let minutes = {{ start_minutes }};
    let seconds = {{ start_seconds }};

    function updateDisplay() {
        hoursDisplay.textContent = hours.toString().padStart(2, '0');
        minutesDisplay.textContent = minutes.toString().padStart(2, '0');
        secondsDisplay.textContent = seconds.toString().padStart(2, '0');
    }

    updateDisplay();

    function updateTime() {
        seconds++;
        if (seconds == 60) {
            seconds = 0;
            minutes++;
            if (minutes == 60) {
                minutes = 0;
                hours++;
            }
        }

        updateDisplay()
    }
    setInterval(updateTime, 1000);
    });

</script>

{% endblock %}