body {

    font-family: Sans-Serif;
}

h2 {
    width: 50%;
    margin: 20px auto 40px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 8px #3ca3c1;

}

.form-1 {
    margin: 1.5rem auto 5px;
    width: 90%;
    max-width: 50rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 2px 8px #3ca3c1;
}

textarea {
}

.form-2 {
    margin: 1.5rem auto 5px;
    width: 90%;
    max-width: 50rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 2px 8px #3ca3c1;
}

.form-3 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;

}

.timer {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;

}

.ordinary_button {
    cursor: pointer;
    background-color: #bf0d55;
    border-radius: 5px;
    color: white;
    border: 12px solid #bf0d55;
    margin: 0.5rem;
    padding: 12px 20px;
    font-size: 18px;


}


.centered_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #3ca3c1;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    margin: 0 10px;
    color: white;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #93B52D;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
