
<nav>
    <ul>
        <li><a href="{% url 'main_page' %}">Главная</a></li>
        <li><a href="{% url 'graph' period='day' %}">День</a></li>
        <li><a href="{% url 'graph' period='week' %}">Неделя</a></li>
        <li><a href="{% url 'graph' period='month' %}">Месяц</a></li>
        <li><a href="{% url 'buttons_set' %}">Кнопки</a></li>
        <li><a href="{% url 'about'%}">О проекте</a></li>
        <li><a href="{% url 'registration' %}">Регистрация</a></li>
        <li><a href="{% url 'authorization' %}">Авторизация</a></li>
    </ul>
</nav>
