
.main {
    width: 60%;
    margin: 1.5rem auto 5px;
    border: 3px solid black;
}


h2 {
    width: 50%;
    margin: 20px auto 20px;
    text-align: center;
    padding: 5px;
    color: #000;
    font-family: Intro ;
    font-size: 32px;
}


h3 {
    width: 50%;
    margin: 95px auto 20px;
    text-align: center;
    padding: 5px;
    color: #000;
    font-family: Intro ;
    font-size: 26px;
}


.form-1 {
    margin: -2rem auto 5px;
    width: 90%;
    max-width: 50rem;
    background-color: white;
}


textarea {
    background-color: #CEEDCD;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    overflow: auto;
}


.attention {
    margin: 1.5rem auto 1.5rem;
    padding: 0.5rem;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
}

.attention2 {
    margin: -3rem auto 1.5rem;
    padding: 0.5rem;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
}

.attention a {
    color: black;
    text-decoration: underline;
}


.timer {
    margin-bottom: -1.2rem;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

h4 {
    text-align: center;
    padding: 0px 0px 0px 0px
}


.form-2 {
    margin: 1.5rem auto 5px;
    width: 90%;
    max-width: 50rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 16px;
    background-color: #CEEDCD;
}


.form-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
}


.ordinary_button {
    font-family: Inter;
    cursor: pointer;
    background-color: white;
    border: 3px solid #E2DFDF;
    margin: 0.3rem;
    padding: 12px 12px;
    font-size: 18px;
}


.centered_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    max-width: 50rem;
    width: 90%;
    margin: 0 auto 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}


nav li {
    margin: 0 0.3rem;
    font-size: 14px;
}


nav a {
    display: block;
    padding: 10px 2px;
    text-decoration: none;
    border-color: #CEEDCD;
    border: 2px solid #CEEDCD;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.input {
    font-size: 30px;

}

